@charset "UTF-8";

#image-viewer {
    width: 256px;
    height: 256px;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}