<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpringGradleDemo</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="resources/css/common.css">
</head>
<body>
<nav class="menu-container">
    <div class="nav-menu">
        <ul id="menu-main" class="list-unstyled list-inline">
            <li class="nav-logo"><a href="#">Mock-Logo</a></li>
            <li><a href="#">Menu1</a></li>
            <li><a href="#">Menu2</a></li>
            <li><a href="#">Menu3</a></li>
        </ul>
    </div>
</nav>
<main class="main">
    <div class="container">
        <div class="inner">
            <div class="contents">
                <div>
                    <h3 class="content-title">MockItems</h3>
                    <ul class="main-content-list list-unstyled list-inline center-block">
                        <!--Itemsは静的ページのイメージ-->
                        <li>
                            <a href="/uploader">
                                <div>TestText</div>
                                <div>TestText</div>
                                <div>TestText</div>
                                <div>TestText</div>
                                <div>TestText</div>
                                <div>TestText</div>
                                <div>TestText</div>
                                <div>TestText</div>
                                <div>TestText</div>
                            </a>
                        </li>
                        <li>Content2</li>
                        <li>Content3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>

</form>
</body>
</html>